!!!
%html{'ng-app' => 'lunchbox'}
  %head
    %title Lunchbox
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = yield
